[SddmGreeterTheme]
Name=SuperHotLogin
Name[ar]=تسجيلSuperHot
Name[az]=SuperHotLogin
Name[be]=SuperHotLogin
Name[bg]=СуперХотВход
Name[ca]=IniciSuperHot
Name[ca@valencia]=IniciSuperHot
Name[cs]=SuperHotPřihlášení
Name[da]=SuperHotLogin
Name[de]=SuperHotAnmeldung
Name[el]=SuperHotΣύνδεση
Name[en_GB]=SuperHotLogin
Name[eo]=SuperHotEnsaluto
Name[es]=InicioSuperHot
Name[eu]=SuperHotSaioa
Name[fi]=SuperHotKirjautuminen
Name[fr]=ConnexionSuperHot
Name[gl]=InicioSuperHot
Name[he]=כניסת־SuperHot
Name[hu]=SuperHotBejelentkezés
Name[ia]=SuperHotAccesso
Name[id]=MasukSuperHot
Name[is]=SuperHotInnskráning
Name[it]=AccessoSuperHot
Name[ka]=SuperHotშესვლა
Name[ko]=SuperHotLogin
Name[lt]=SuperHotPrisijungimas
Name[lv]=SuperHotPieteikšanās
Name[nb]=SuperHotInnlogging
Name[nl]=SuperHotAanmelding
Name[nn]=SuperHotInnlogging
Name[pa]=ਸੁਪਰਹਾਟਲਾਗਇਨ
Name[pl]=SuperHotLogowanie
Name[pt_BR]=SuperHotLogin
Name[ro]=AutentificareSuperHot
Name[ru]=СуперХотВход
Name[sa]=सुपरहॉटप्रवेशः
Name[sk]=SuperHotPrihlásenie
Name[sl]=SuperHotPrijava
Name[sv]=SuperHotInloggning
Name[ta]=சூப்பர்ஹாட் புகுபதிவு
Name[tr]=SuperHotGiriş
Name[uk]=SuperHotВхід
Name[x-test]=xxSuperHotLoginxx
Name[zh_CN]=SuperHot登录
Name[zh_TW]=SuperHot登入
Description=SuperHotLogin
Description[ar]=تسجيلSuperHot
Description[az]=SuperHotLogin
Description[be]=SuperHotLogin
Description[bg]=СуперХотВход
Description[ca]=IniciSuperHot
Description[ca@valencia]=IniciSuperHot
Description[cs]=SuperHotPřihlášení
Description[da]=SuperHotLogin
Description[de]=SuperHotAnmeldung
Description[el]=SuperHotΣύνδεση
Description[en_GB]=SuperHotLogin
Description[eo]=SuperHotEnsaluto
Description[es]=InicioSuperHot
Description[eu]=SuperHotSaioa
Description[fi]=SuperHotKirjautuminen
Description[fr]=ConnexionSuperHot
Description[gl]=InicioSuperHot
Description[he]=כניסת־SuperHot
Description[hu]=SuperHotBejelentkezés
Description[ia]=SuperHotAccesso
Description[id]=MasukSuperHot
Description[is]=SuperHotInnskráning
Description[it]=AccessoSuperHot
Description[ka]=SuperHotშესვლა
Description[ko]=SuperHotLogin
Description[lt]=SuperHotPrisijungimas
Description[lv]=SuperHotPieteikšanās
Description[nb]=SuperHotInnlogging
Description[nl]=SuperHotAanmelding
Description[nn]=SuperHotInnlogging
Description[pa]=ਸੁਪਰਹਾਟਲਾਗਇਨ
Description[pl]=SuperHotLogowanie
Description[pt_BR]=SuperHotLogin
Description[ro]=AutentificareSuperHot
Description[ru]=СуперХотВход
Description[sa]=सुपरहॉटप्रवेशः
Description[sk]=SuperHotPrihlásenie
Description[sl]=SuperHotPrijava
Description[sv]=SuperHotInloggning
Description[ta]=சூப்பர்ஹாட் புகுபதிவு
Description[tr]=SuperHotGiriş
Description[uk]=SuperHotВхід
Description[x-test]=xxSuperHotLoginxx
Description[zh_CN]=SuperHot登录
Description[zh_TW]=SuperHot登入
Author=Oliver Winhammar
Copyright= Copyright (c) 2025, Oliver Winhammar
License=GPLv3 or later
Type=sddm-theme
Version=0.1
Website=https://github.com/0larszl0/SuperHotLogin
TranslationsDirectory=translations
Screenshot=Images/the-setup.png
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=SuperHotLogin
Theme-API=2.0
Email=oliver.winhammar@gmail.com
QtVersion=6
